<html>
<head>
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div>
    <div id="main">
      <h2>Please enter a key</h2>
      <input id="js-key" type="password" v-model="key_input"/>
      <button class="button" id="js-submit-key">Submit key</button>
      <span style="display: none" id="js-no-key-input">Please enter a key</span>
      <h3>The key will be installed as</h3>
      <p>{{key_input}}</p>
    </div>
    <br/>
    <div id="main-cipher">
      <h2>Please enter a message to cipher</h2>
      <input id="js-tocipher" type="text" v-model="tocipher"/>
      <h3>{{ciphered}}</h3>
    </div>
    <div id="main-decipher">
      <h2>Please enter a message to decipher</h2>
      <input id="js-todecipher" type="text" v-model="todecipher"/>
      <button id="js-decipher-again" type="text">Decipher Again</button>
      <h3>{{deciphered}}</h3>
    </div>
  </div>

  <script>
    var vm_key = new Vue({
      el: "#main",
      data: function() {
        return {
          keyPool: "",
          key: "",
          key_input: ""
        }
      }
    });

    var vm_cipher = new Vue({
      el: "#main-cipher",
      data: function() {
        return {
          ciphered: "",
          tocipher: ""
        }
      }
    });

    var vm_decipher = new Vue({
      el: "#main-decipher",
      data: function() {
        return {
          deciphered: "",
          todecipher: ""
        }
      }
    })
  </script>
</body>
<script type="text/javascript" src="randomGenerator.js"></script>
<script type="text/javascript" src="cipher.js"></script>
<script type="text/javascript" src="decipher.js"></script>
<script type="text/javascript" src="default.js"></script>
<style>
#main, #main-cipher, #main-decipher {
  font-family: serif;
  text-align: center;
}
</style>

</html>
